<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.first_name %> and welcome !</h1>
    <p>
      You are on catshop-io.fr and that's your e-mail : <%= @user.email %>.
    </p>
    <p>
      You can connect on: <%= @url %>.
    </p>
    <p> See you soon on catshop-io.fr !
  </body>
</html>
