

<body>
   
# <!------------------------ First Section ------------------------------->
<div class="how-section1">
    <div class="row">
        <div class="col-md-6">
            <img  src="https://www.woopets.fr/assets/races/000/348/bannerbig2021/british-shorthair_2.jpg" class=" img-fluid" alt=""/>
        </div>
        <div class="col-md-6 text-center-justify">
            <h3>British ShortHair</h3>
              <p>The ancestors of the British Shorthair were cats who had adapted
                to the harsh weather of the British Isles, in particular by
                developing a coat dense enough to protect them from the weather
                and the cold.</p>  
                <br/>
               <h3>$60</h3> 
               <br/>
                <button style="font-weight: bold;border-color:#fb6c74;" type="button" class="btn-lg btn-cart ">
                Add to cart
                </button>
               
        </div>
    </div>
    <hr>
    <br/>
# <!---------------------------- Second Section ----------------------------->

<div id="description" class="row">

<div class="col-8 col-lg-8 col-md-6 mb-3">
    The ancestors of the British Shorthair were cats who had adapted to the harsh weather of the British Isles, in particular by developing a coat dense enough to protect them from the weather and the cold.
    
    Harrison Weir, one of the English pioneers of cat breeding, founder of the National Cat Club and organizer of the first feline exhibition in London in 1871, was instrumental in the development of the British Shorthair. Moreover, a female of the breed has been exhibited since this first edition held at the Crystal Palace. The pussy did not go unnoticed, with its beautiful blue coat and amber-colored eyes.
    
    The two world wars were very close to making the British Shorthair disappear. Both in the interwar period and after 1945, many breeders crossed with Persians, then Russian Blues and ...</div>
    <div class="col-4">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Related products</h3>
            <div  class="card-sl col-8">
                <div class="card-image">
                  <img
                    src="https://www.woopets.fr/assets/races/000/348/bannerbig2021/british-shorthair_2.jpg"
                  />
                </div>
    
                <div class="card-heading text-center">British ShortHair</div>
                <div class="card-text text-center">
                  The ancestors of the British Shorthair were cats who had adapted
                  to the harsh weather of the British Isles, in particular by
                  developing a coat dense enough to protect them from the weather
                  and the cold.
                </div>
                <div class="card-text text-center">
                  $60
                  <div class="row justify-content-center">
                  <button type="button" class="btn btn-card ">
                  
                    Read more
                  </button>
                  <button type="button" class="btn btn-cart ">
                  
                    Add to cart
                  </button>
                  </div>
                </div>
              </div>
        </div>
</div>
</div>

</body>