/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_body.css
 *= require_navbar.css
 *= require_footer.css
 */

 :root {

    --prim : #f14951 ;
    --second : #fccbab;
    --tert : #fb6c74;
    --quad : #f4bc9b;
    --rp : #f89281;
    --rpf : #f58474;
    --mr : #f6a68a;
    --bg : #fbab94;
    --brf : #fcb499;
    --danger : rgb(255, 44, 44);
    --success : rgb(50, 163, 5);
 
  }

