/* = require_self */
.bg-nav {
    background-color: var(--prim)!important;
}
.btn {
    font-family: Poppins, Arial, Helvetica, sans-serif !important;
}

.btn-nav {
    color: var(--second);
    border-color: var(--second)!important;
}

.btn-nav:hover {
    color: var(--prim);
    background-color: var(--second) !important;


}

.btn-signup {
    color: var(--prim)!important;
    border-color: var(--second) !important;
    background-color: var(--second) !important;
}

input[type="search"], input[type="search"]::selection {

    background-color : var(--second) !important; 
  }
  .searchbar {
    border-color: var(--tert)!important;
    font-family: Poppins!important;
    

}

#searchbar {
    margin-left: 20px!important;
}
#searchbar {
    max-width: 350px!important;
    
}

  .cart {
      border: none!important;
      
      background-color: var(--prim)!important;

      padding-right: 15px!important;
      
  }