<div id="ctn" class="container my-5 d-flex justify-content-center">
    <div class="row justify-content-center ">
        <div class="col">
            <div id="cards" class="card ">
                <div id="card-h" class="card-header pb-0 bg-white border-0 text-center px-sm-4">
                    <h6 class="text-left mt-4 font-weight-bold mb-0"><span><i class="fa-regular fa-cat" aria-hidden="true"></i> </span>Thanks <%=current_user.first_name%> ! Your order is registered !</h6> <span class="img-1 text-center"><img id="imgs" src="https://cdn2.iconfinder.com/data/icons/weby-flat-vol-1/512/1_Approved-check-checkbox-confirm-green-success-tick-512.png" class="img-fluid my-4 " /></span>
                </div>
                <div class="card-body px-sm-4 mb-3 text-center">
                  <h5>Items ordered:</h5>
                  <% @cart.join_table_cart_items.each do |item|%>
                  <p style="font-weigth:bold"><%=item.item.title%></p>
                  <% end %>
                    <div class="row justify-content-end mt-4 ">
                        <a href="<%=root_path%>" class="btn btn-cart col-4 mx-2">Back to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>