<footer class="bd-footer py-4 mt-4 bg-light ">
    <div class="container py-4">
      <div class="row">
        <div class="col-12 col-lg-2 offset-lg-1 mb-3 mt-lg-4">
            <h5>If u want more cat pic go <a class="footerlink" href="https://pixabay.com/fr/images/search/chat/">there</a></h5>
          </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>Liste 1</h5>
          <ul class="list-unstyled">
            <li><a class="footerlink" href="#">Lien 1</a>
            </li>
            <li><a class="footerlink" href="#">Lien 2</a>
            </li>
            <li><a class="footerlink" href="#">Lien 3</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Liste 2</h5>
          <ul class="list-unstyled">
            <li><a class="footerlink" href="#">Lien 1</a>
            </li>
            <li><a class="footerlink" href="#">Lien 2</a>
            </li>
            <li><a class="footerlink" href="#">Lien 3</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 offset-lg-1 mb-3 mt-lg-4">
          <img src="https://cdn-icons.flaticon.com/png/512/2475/premium/2475265.png?token=exp=1647342221~hmac=7f7cb173c689fbb98e7ad31cae02b290" alt=""  width="70" height="70" >
        </div>
        <div class="col-12 col-lg-10 offset-lg-1 mb-3 mt-lg-4">
          <h5>Miaouuuuuuuuuuuuuuuu</a></h5>
        </div>
      </div>
    </div>
  </footer>