<footer class="bd-footer py-4 mt-4 bg-light ">
    <div class="container py-4">
      <div class="row">
        <div class="col-12 col-lg-2 offset-lg-1 mb-3 mt-lg-4">
            <h5>If u want more cat pic go <a class="footerlink" href="https://pixabay.com/fr/images/search/chat/">there</a></h5>
          </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>Team</h5>
          <ul class="list-unstyled">
            <li><a class="footerlink" href="https://github.com/alegarn">Alex G</a>
            </li>
            <li><a class="footerlink" href="https://github.com/Non0-13">Arnaud L</a>
            </li>
            <li><a class="footerlink" href="https://github.com/Bastien-Arlot">Bastien A</a>
            </li>
            
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li><a class="footerlink" href="https://github.com/guillaume-rygn">Guillaume R</a>
            </li>
            <li><a class="footerlink" href="https://github.com/PierreSARAZIN1">Pierre S</a>
            </li>
            <li><a class="footerlink" href="https://www.thehackingproject.org/">THP</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 offset-lg-1 mb-3 mt-lg-4">
          <img src="paw.png" alt=""  width="70" height="70" >
        </div>
        <div class="col-12 col-lg-10 offset-lg-1 mb-3 mt-lg-4">
          <h5>Miaouuuuuuuuuu<a href="https://www.youtube.com/watch?v=9o8qf7anq0g">u</a>uuuuu</a></h5>
          
        </div>
      </div>
    </div>
  </footer>